<mat-form-field>
  <input size="50" matInput value="" placeholder="No que você está pensando?">
</mat-form-field>

<button mat-mini-fab>
  <mat-icon>send</mat-icon>
</button>

<div class="row">
  <div class="column" style="background-color: beige">
    <strong>Posts Públicos:</strong>
  </div>
  <div class="column" style="background-color: aliceblue">
    <strong>Posts Sábado Temático:</strong>
  </div>
  <div class="column" style="background-color: antiquewhite">
    <strong>Mensagems Diretas:</strong>
  </div>
</div>
